.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border-radius: 10px;
  background: #3FAF82;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-toggle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
}

.bar {
  width: 80px;
  height: 8px;
  background: #FFF;
  margin: 12px 0;
  border-radius: 5px;
  transition: 0.4s;
}

.menu-toggle.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-14px, 15px)
}
.menu-toggle.open .bar:nth-child(2) {
  opacity: 0;
}
.menu-toggle.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-13px, -12px)
}
